# Models
models/*.pkl
models/*.keras
models/*.json

# Logs
logs/**
!logs/.gitkeep

# Plots
logs/plots/**
logs/disaster_risk/**
logs/simulation/**

# Cache
__pycache__/
*.pyc

# Virtual environment
.venv/
